<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.mystore.utilities.ExtentListenerClass"></listener>
</listeners>

  <test thread-count="5" name="Test">
    <classes>
     <!-- <class name="com.mystore.testcases.TC_MyAccounPageTest"/>-->
      <class name="com.mystore.testcases.TC_MyAccounPageTestDDT"/>
      <class name="com.mystore.testcases.TC_001VerifyUserRegisterLogin"></class>
      <class name="com.mystore.testcases.TC_002VerifyLogin"></class>
      <class name="com.mystore.testcases.TC_003SearchProduct"></class>
      <class name="com.mystore.testcases.TC_004BuyProduct"></class>
      <class name="com.mystore.testcases.TC_005LogOut"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
